<div class="header pb-6">
	<div class="container-fluid">
		<div class="header-body">
			<div class="row align-items-center py-4">
				<div class="col-lg-6 col-7">
					<h6 class="h2 text-dark d-inline-block mb-0">Audit Trails Management</h6>

					<nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
						<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
							<li class="breadcrumb-item">
								<a href="javascript:void(0)"> 
                  <i class="fas fa-braille text-dark"></i> 
                </a>             
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:void(0)" class="text-dark">Audit Trails Management</a>
              </li>
              <li aria-current="page" class="breadcrumb-item active">
                Audit Trails
              </li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h3 class="m-0">Action Types</h3>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <div class="amchart" id="chartActionTypes"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h3 class="m-0">Audit Trails</h3>
                </div>
                <div class="dataTables_wrapper py-4">
                    <div class="row">
                      <div class="col-sm-12 col-md-6">
                        <div class="dataTables_length" id="datatable_length">
                          <label>
                            Show
                            <select
                              name="datatable_length"
                              aria-controls="datatable"
                              class="form-control form-control-sm"
                              (change)="entriesChange($event)"
                            >
                              <option value="5" [selected]="tableEntries==5">5</option>
                              <option value="10" [selected]="tableEntries==10">10</option>
                              <option value="15" [selected]="tableEntries==15">15</option>
                              <option value="-1" [selected]="tableEntries==-1">All</option>
                            </select>
                            records
                            </label>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-4">
                        <div id="datatable_filter" class="dataTables_filter">
                          <label>
                            <input
                              type="search"
                              class="form-control form-control-sm"
                              placeholder="Search records"
                              aria-controls="datatable"
                              (keyup)="filterTable($event)"
                            />
                          </label>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-2">
                        <button class="btn-success ml-auto">Export</button>
                        <select name="typeExport" class="form-control form-control-sm ml-1">
                          <option value="10">as PDF</option>
                          <option value="25">as Excel</option>
                          <option value="50">as Report</option>
                          <option value="-1">Print</option>
                        </select>
                      </div>
                    </div>
                
                    <ngx-datatable
                      class="bootstrap selection-cell"
                      [columnMode]="'force'"
                      [headerHeight]="50"
                      [footerHeight]="50" 
                      [rowHeight]="'auto'"
                      [selected]="tableSelected"
                      [selectionType]="'multiClick'"
                      [limit]="tableEntries != -1 ? tableEntries:undefined"
                      [rows]="tableTemp" 
                      (activate)="onActivate($event)"
                    >
                
                        <ngx-datatable-column name="userName">
                            <ng-template ngx-datatable-header-template>
                                <span>Username</span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="userid">
                          <ng-template ngx-datatable-header-template>
                              <span>User ID</span>
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="datetime">
                          <ng-template ngx-datatable-header-template>
                              <span>Date/Time</span>
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column>
                          <ng-template ngx-datatable-header-template>
                            <span>Action</span>
                          </ng-template>
                          <ng-template let-row="row" ngx-datatable-cell-template>
                              <span *ngIf="row.action == '1'" class="badge badge-pill badge-default">POST</span>
                              <span *ngIf="row.action == '2'" class="badge badge-pill badge-success">GET</span>
                              <span *ngIf="row.action == '3'" class="badge badge-pill badge-info">UPDATE</span>
                              <span *ngIf="row.action == '4'" class="badge badge-pill badge-warning">DELETE</span>
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="desc">
                          <ng-template ngx-datatable-header-template>
                              <span>description</span>
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="module">
                          <ng-template ngx-datatable-header-template>
                              <span>Module Accessed</span>
                          </ng-template>
                          <ng-template let-row="row" ngx-datatable-cell-template>
                            <span *ngIf="row.action == '1'" class="badge badge-pill badge-default">Module1</span>
                            <span *ngIf="row.action == '2'" class="badge badge-pill badge-success">Module2</span>
                            <span *ngIf="row.action == '3'" class="badge badge-pill badge-info">Module3</span>
                            <span *ngIf="row.action == '4'" class="badge badge-pill badge-warning">Module4</span>
                        </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                  </div>
            </div>
        </div>
    </div>
</div>