<div class="header">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-dark d-inline-block mb-0">Data Management</h6>

					<nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
						<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
							<li class=" breadcrumb-item">
								<a href="javascript:void(0)"> <i class="fas fa-info-circle text-dark"> </i> </a>
							</li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)" class="text-dark"> Data Management </a>
                              </li>
						</ol>
					</nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row row">
        <div class="col col-sm-10">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h3 class="m-0">Total Project Overview</h3>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <div class="amchart" id="chartTotProjOver"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-sm-2">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h3 class="m-0">Export</h3>
                </div>
                <div class="card-body">
                    <div class="btn-group-vertical btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-secondary active">
                          <input type="radio" name="options" id="option1" autocomplete="off" checked> .csv
                        </label>
                        <label class="btn btn-outline-secondary">
                          <input type="radio" name="options" id="option2" autocomplete="off"> .xsl
                        </label>
                        <label class="btn btn-outline-secondary">
                          <input type="radio" name="options" id="option3" autocomplete="off"> .pdf
                        </label>
                    </div>
                    <div class="row">
                        <label class="btn-sm btn-success">Export</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class= "row">
        <div class="col col-sm-7">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h3 class="m-0">Project Progress</h3>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <div class="amchart" id="chartProjProg"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-sm-5">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h3 class="m-0">Project Percentage</h3>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <div class="amchart" id="chartProjPerc"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-secondary">
                    <div class="row">
                        <h3 class="m-0">Project List</h3>
                        <label class="btn btn-primary text-white ml-auto">Import</label>
                        <label class="btn btn-primary text-white ml-1">Export</label>
                    </div>
                </div>
                <div class="dataTables_wrapper py-4">
                    <div class="row">
                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_length" id="datatable_length">
                                <label>
                                    Show
                                    <select 
                                        name="datatable_length"
                                        aria-controls="datatable"
                                        class="form-control form-control-sm"
                                        (change)="entriesChange($event)"
                                    >
                                        <option value="5" [selected]="tableEntries==5">5</option>
                                        <option value="10" [selected]="tableEntries==10">10</option>
                                        <option value="15" [selected]="tableEntries==15">15</option>
                                        <option value="-1" [selected]="tableEntries==-1">All</option>
                                    </select>
                                    records
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div id="datatable_filter" class="dataTables_filter">
                                <label>
                                    <input 
                                        type="search"
                                        class="form-control form-control-sm"
                                        placeholder="Search records"
                                        aria-controls="datatable"
                                        (keyup)="filterTable($event)" 
                                    />
                                </label>
                            </div>
                        </div>
                        <div class= "col-sm-12 col-md-1 pb-2">
                            <label class="btn-sm btn-success text-white">See All</label>
                        </div>
                    </div>
                    <div class="row"><div class="col">
                    <ngx-datatable 
                        class="bootstrap selection-cell"
                        [columnMode]="'force'"
                        [headerHeight]="50"
                        [footerHeight]="50" 
                        [rowHeight]="'auto'"
                        [selected]="tableSelected"
                        [selectionType]="'multiClick'"
                        [limit]="tableEntries != -1 ? tableEntries:undefined"
                        [rows]="tableTemp" 
                        (activate)="onActivate($event)"
                    >

                        <ngx-datatable-column name="projName">
                            <ng-template ngx-datatable-header-template>
                                <span>Project Name</span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="company">
                            <ng-template ngx-datatable-header-template>
                                <span>Company</span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="date">
                            <ng-template ngx-datatable-header-template>
                                <span>Date</span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="projProg">
                            <ng-template ngx-datatable-header-template>
                                <span>Project Progress</span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column>
                            <ng-template ngx-datatable-header-template>
                                <span>View/Edit</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <a class="btn btn-sm btn-info">
                                    <i class="fas fa-eye text-dark"></i>
                                </a>
                                <a class="btn btn-sm btn-success">
                                    <i class="fas fa-edit text-white"></i>
                                </a>
                                <a class="btn btn-sm btn-warning">
                                    <i class="fas fa-trash text-white"></i>
                                </a>
                                <a class="btn btn-sm btn-dark">
                                    <i class="fas fa-archive text-white"></i>
                                </a>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                    </div></div>
                </div>
            </div>
        </div>
    </div>
</div>