<div class="header">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-dark d-inline-block mb-0">User Management</h6>

					<nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
						<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
							<li class=" breadcrumb-item">
								<a href="javascript:void(0)"> <i class="fas fa-user text-dark"> </i> </a>
							</li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)" class="text-dark"> User </a>
                              </li>
						</ol>
					</nav>
                </div>

                <div class="col-lg-6 col-5 text-right text-white">
					<a class="btn btn-sm btn-primary" (click)="openModal(regUser)">
						Create
					</a>
				</div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row row">
        <div class="col col-sm-12">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h3 class="m-0">Registered User by Month</h3>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <div class="amchart" id="chartRegUser"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h3 class="m-0">User List</h3>
                </div>
                <div class="dataTables_wrapper py-4">
                    <div class="row">
                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_length" id="datatable_length">
                                <label>
                                    Show
                                    <select 
                                        name="datatable_length"
                                        aria-controls="datatable"
                                        class="form-control form-control-sm"
                                        (change)="entriesChange($event)"
                                    >
                                        <option value="5" [selected]="tableEntries==5">5</option>
                                        <option value="10" [selected]="tableEntries==10">10</option>
                                        <option value="15" [selected]="tableEntries==15">15</option>
                                        <option value="-1" [selected]="tableEntries==-1">All</option>
                                    </select>
                                    records
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div id="datatable_filter" class="dataTables_filter">
                                <label>
                                    <input 
                                        type="search"
                                        class="form-control form-control-sm"
                                        placeholder="Search records"
                                        aria-controls="datatable"
                                        (keyup)="filterTable($event)" 
                                    />
                                </label>
                            </div>
                        </div>
                        <div class= "col-sm-12 col-md-1 pb-2">
                            <label class="btn-sm btn-success text-white">See All</label>
                        </div>
                    </div>
                    <div class="row"><div class="col">
                    <ngx-datatable 
                        class="bootstrap selection-cell"
                        [columnMode]="'force'"
                        [headerHeight]="50"
                        [footerHeight]="50" 
                        [rowHeight]="'auto'"
                        [selected]="tableSelected"
                        [selectionType]="'multiClick'"
                        [limit]="tableEntries != -1 ? tableEntries:undefined"
                        [rows]="tableTemp" 
                        (activate)="onActivate($event)"
                    >

                        <ngx-datatable-column name="name">
                            <ng-template ngx-datatable-header-template>
                                <span>Name</span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="mail">
                            <ng-template ngx-datatable-header-template>
                                <span>E-Mail</span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="userName">
                            <ng-template ngx-datatable-header-template>
                                <span>Username</span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="userType">
                            <ng-template ngx-datatable-header-template>
                                <span>User Type</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span *ngIf="row.userType == 1" class="badge badge-pill badge-danger">admin</span>
                                <span *ngIf="row.userType > 1" class="badge badge-pill badge-info">user</span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column>
                            <ng-template ngx-datatable-header-template>
                                <span>Edit</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <a class="btn btn-sm btn-success" (click)="openModal(editUser)">
                                    <i class="fas fa-edit text-white"></i>
                                </a>
                                <a class="btn btn-sm btn-warning">
                                    <i class="fas fa-trash text-white"></i>
                                </a>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                    </div></div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #regUser>
    <div class="modal-header bg-default">
        <h6 class="modal-title text-white my-auto" id="compInfo">
            Register New User
        </h6>
        <button
            aria-label="Close"
            class="close"
            data-dismiss="modal"
            type="button"
            (click)="closeModal()"
        >
            <span aria-hidden="true" class="text-white my-auto">&times; </span>
        </button>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="form-control-label">Username</label>
                    <input class="form-control" placeholder="Username" formControlName="username" type="text">
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label class="form-control-label">E-Mail</label>
                    <input class="form-control" placeholder="E-Mail" formControlName="mail" type="text">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label class="form-control-label">Select Status</label>
                    <select class="ml-4">
                        <option>Status</option>
                        <option>Status1</option>
                        <option>Status2</option>
                        <option>Status3</option>
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label class="form-control-label">User Type</label>
                    <select class="ml-4">
                        <option>Type</option>
                        <option>Admin</option>
                        <option>Staff</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button
            class="btn btn-outline-danger ml-auto"
            data-dismiss="modal"
            type="button"
            (click)="closeModal()"
        >
            Cancel
        </button>

        <button 
            class="btn btn-success"
            type="button"
        >
            Submit
        </button>
    </div>
</ng-template>

<ng-template #editUser>
    <div class="modal-header bg-default">
        <h6 class="modal-title text-white my-auto" id="compInfo">
            Edit User
        </h6>
        <button
            aria-label="Close"
            class="close"
            data-dismiss="modal"
            type="button"
            (click)="closeModal()"
        >
            <span aria-hidden="true" class="text-white my-auto">&times; </span>
        </button>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="form-control-label">Username</label>
                    <input class="form-control" placeholder="Emmanuel" formControlName="username" type="text">
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label class="form-control-label">E-Mail</label>
                    <input class="form-control" placeholder="emmanuel@gmail.com" formControlName="mail" type="text">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label class="form-control-label">Select Status</label>
                    <select class="ml-4">
                        <option>Status</option>
                        <option>Status1</option>
                        <option>Status2</option>
                        <option>Status3</option>
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label class="form-control-label">Branch</label>
                    <select class="ml-4">
                        <option>Branch</option>
                        <option>Cyperjaya</option>
                        <option>Putrajaya</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button
            class="btn btn-outline-danger ml-auto"
            data-dismiss="modal"
            type="button"
            (click)="closeModal()"
        >
            Cancel
        </button>

        <button 
            class="btn btn-success"
            type="button"
        >
            Submit
        </button>
    </div>
</ng-template>